* { margin: 8px;}

.normal {
  padding: 2px;
}


.selected {
  background-color: gray;
}

#criar-tarefa {
  width: 40px;
  height: 40px;

}

.completed {
  text-decoration: line-through solid black;
}

